# ==============================
# База данных
# ==============================
MYSQL_ROOT_PASSWORD=1234
MYSQL_DATABASE=edex
MYSQL_USER=team_user
MYSQL_PASSWORD=1234

# ==============================
# Приложение
# ==============================
APP_ENV=development
APP_PORT=8000
FRONTEND_PORT=5173
